*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: rgb(37, 36, 36);
}

.nav{
    display: flex;
    margin-right: 80px;
    gap: 30px;
}

.logo{
    color: white;
    margin-left: 60px;
    cursor: pointer;
}

.nav button{
    font-size: 18px;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(37, 36, 36);
    color: white;
}

.nav button:hover{
    color: rgb(59, 61, 221);
    cursor: pointer;
}